@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&family=Judson:wght@400;700&display=swap');

:root{
   --background-color: #E3F4E0;
   --primary-color: #31512B;

   --font-color: #1A0D02;
   --font-color-light: #E3F4E0;
   --font-green: #1F8B0E;
   --font-error: #F21010;

   --rectangle-green: #31512B33;
   --rectangle-brown: #1A0D0299;
   --rectangle-light-green: #E3F4E080;
   --drop-shadow: #00000080;
   --button-green: #1F8B0E;

   --background-brown-dark: #1A0D02CC;
   --background-brown-light: #1A0D0233;
   --background-green-light: #31512B33;
   --backdrop-color: #E3F4E033;

   --gradient-dark: #1A0D02;
   --gradient-light: #31512B;
}

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

img{
   max-width: 100%;
   height: auto;
}

body, button, input, textarea, select {
   font-family: 'Josefin Sans', sans-serif;
}

body{
   background: var(--background-color);
   color: var(--font-color);
}

header{
   margin:0;
}


.center-page-content{
   width: 72.5rem;
   max-width: 100%;
   margin: 0 auto;
}

/*navigace a background image pod navigací na některých stránkách*/


.main-nav {
   background-color: var(--primary-color);
   width: 100%;
   height: 4.8rem;


   .nav-wrapper{
      display: flex;
      justify-content: space-between;
   }
}

.nav > a {
      color:var(--font-color-light);
      font-size: 1.25rem;
      font-weight: 500;
      text-decoration: none;
      letter-spacing: 0.0375rem;
   }
      
      .nav > a:hover{
         color: var(--font-color);
      }

   .nav-vlevo{
      display:flex;
      margin-top: 0.5rem;
      align-items: center;
   }

   .logo-img{
      min-width: 60px;
      min-height: 60px;
      max-width: 60px;
      max-height:60px;
   }

   .nav-vpravo{
      display: flex;
      margin-top: 0.5rem;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

   }

.header-background{
   background-image: url('../images/banner.jpg');
   height: 12.875rem;
   position:relative;
   background-size:cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

/*index-velký text, popisek, obrázek anděla*/

.sekce-prvni{
   display:flex;
   margin-top: 4.375rem;
}   

.sekce-vlevo{
   display:flex;
   flex-direction: column;
}

.maly-nadpis{
   font-size: 2rem;
   font-weight: 600;
}

.header{
   font-family: 'Judson', serif;
   font-size: 3.7rem;
   font-weight: 700;
   display: inline-block;
   width: 30rem;
   margin-bottom: 2rem;
}

.header-with-padding{
   padding-top: 9.25rem;
}

.index-hlavni-text{
   font-size: 1.75rem;
   font-weight: 300;
   line-height: 2rem;
   display: inline-block;
   width: 30rem;
   margin-bottom: 2rem;
}

.doplnujici-text{
   display: flex;
   line-height: 1.5rem;
   align-items: center;
   width: 23.75rem;
   font-size: 1.5rem;
   font-weight: 300;
}

.cara{
   margin-right: 1.25rem;
   margin-left: 1.5rem;
}

.page-doplnujici-text{
   width: 55.25rem;
}

.sekce-vpravo{
   margin-left: 9.375rem;
}
   
   .obrazek{
      max-width: 33.125rem;
      border-radius: 2.5rem;
      box-shadow: 0.125rem 0.125rem 0.5rem 0 var(--rectangle-brown);
   }

   .sekce-vpravo-dole{
      margin-left: 3.125rem;
   }

/*index druhá sekce - čtverce vlevo, velký popis, call to action */

.sekce-ctverce{
   display: flex;
   margin-top: 4.375rem;
   margin-bottom: 4.375rem;
}

   .ctverce-vlevo{
      display:flex;
      flex-wrap: wrap;
      width: 34rem;
      justify-content: space-around;
   }

      .prvni-rada, .druha-rada{
         display: flex;
         justify-content: space-between;
      }

      .druha-rada{
         margin-top: 2.75rem;
      }

      .ctverec, .ctverec--no-margin{
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 16.625rem;
         height: 15.625rem;
         background-color: var(--rectangle-green);
         border-radius: 5rem;
         margin-right: 2.75rem;
      }

      .ctverec:nth-child(2n) {
         margin-right: 0;
       }

         .img-ctverec{
            margin-top: 1.75rem;
            margin-bottom: 2rem;
         }

         .text-ctverec{
            display: inline-block;
            text-align: center;
            font-size: 1.375rem;
            font-weight: 500;
            line-height: 1.875rem;
            width: 12.5rem;
            margin-bottom: 1rem;
         }

      .ctverec-hnedy{
         background-color: var(--rectangle-brown);
         color: var(--font-color-light);

         .hnedy-nadpis{
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5rem;
            letter-spacing: 0.06rem;
            display: inline-block;
            margin-top: 2.62rem;
            margin-bottom: 1rem;
         }

         .hnedy-text{
            font-size: 1.375rem;
            font-weight: 400;
            line-height: 2.25rem;
            display: inline-block;
            width: 14.375rem;
            text-align: center;
            
         }

         .hnedy-posledni{
            font-size: 1.125rem;
            line-height: 1.75rem;
            display: inline-block;
            margin-top: 2.62rem;
            width: 14.375rem;
         }
      }

      .ctverec-svetly{
         background: rgba(227, 244, 224, 0.50);
         display: flex;
         justify-content: center;
         margin-right: 2.75rem;
         align-items: center;
         
      }

   .text-ctverec-hnedy{
      width: 14.375rem;
   }
   
   .ctverce-vpravo{
      display: flex;
      flex-direction: column;
      margin-left: 10rem;
      justify-content: center;
   }

   .ctverce-vpravo-with-top-margin{
      margin-top: 8rem;
      justify-content: initial;
      margin-left: 5.375rem;
   }

   .index-subheader{
      font-family: 'Judson', serif;
      font-size: 3.125rem;
      font-weight: 700;
      display: inline-block;
      width: 25rem;
      text-align: center;
   }

   .chci-objednat{
      display: inline-block;
      width: 25rem;
      height: 3.875rem;
      background-color: var(--primary-color);
      border-radius: 1.875rem;
      font-size: 1.875rem;
      color: var(--font-color-light);
      text-align: center;
      margin-top: 4rem;
      text-decoration: none;
      padding-top: 1rem;
      padding-bottom:1rem;

   }

   .chci-objednat-with-margin{
      margin-top: 4.75rem;
      margin-bottom: 9rem;
   }

   .chci-objednat-with-small-margin{
      margin-top: 3.5rem;
      margin-bottom: 2.75rem;
      
   }

   .call-to-action{
      text-align: center;
   }

/*sekce pruh s textem*/

.sekce-pruh{
   height: 21rem;
   position: relative;
   background-image: url('../images/banner2.jpg');
   background-size:cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

   .sekce-prusvitnost{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.4);
   }

   .text-v-obrazku{
      width: 61.5rem;
      text-align: center;
      font-family: 'Judson', serif;
      font-size: 2.5rem;
      font-weight: 700; 
      line-height: 3.125rem;
      position:relative;
      z-index: 1;
      padding: 5rem 0;
   }

   .text-v-obrazku--narrow{
      width: 42.375rem;
   }

/*sekce třetí, text s dalším popisem a obrázek muže*/

   .sekce-spodni{
      display: flex;
      margin-top: 4.375rem;
   }

      .index-subheader--wide{
         width: 36.25rem;
         margin-bottom: 2rem;
      }

      .index-hlavni-text--wide{
         width: 36.25rem;
      }

      .doplnujici-text--wide{
         width: 30rem;
      }

      .sekce-spodni--cenik{
         margin-top: 3.5rem;
      }

/*footer*/

.footer-background{
   background-color: var(--primary-color);
   height: 12.875rem;
   margin-top: 4.75rem;
}

   h5{
      color: var(--font-color-light);
      font-family: 'Judson', serif;
      font-size: 1.375rem;
      font-weight: 700;
      margin-top: 2rem;
      margin-bottom:0.5rem;
   }

   .footer-nahore{
      display: flex;
      gap: 27.125rem;
      margin-bottom: 1.5rem;
   }

      .footer-odkazy{
         display: inline-block;
         font-weight: 300;
         line-height: 1.875rem;
         min-width: 12rem;
      }

         .footer-odkazy a{
            text-decoration: none;
            color: var(--font-color-light);
         }

         .footer-odkazy a:hover{
            color:var(--font-color);
            font-weight: 600;
         }
   
      .footer-vpravo{
         display: inline-block;
         width: 16.5rem;
         font-weight: 300;
         line-height: 1.875rem;
         color: var(--font-color-light);
      }

      .footer-dole{
         text-align: center;
         color: var(--font-color-light);
         font-weight: 300; 
      }

/*sluzby a cenik*/

.page-wrapper{
   margin: 2rem auto;
}

   .page-header{
      margin: 0;
   }

   .page-doplnujici-text{
      margin-top: 2rem;
      margin-left: 1.25rem;
   }

   .subheader{
      font-family: 'Judson', serif;
      font-size: 2.5rem;
      font-weight: 700;
      margin-top: 3.5rem;
      margin-bottom: 2rem;
   }

   .sluzby-seznam{
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 2.5rem;
      margin-top: 2rem;

      > ul{
         list-style-type: none;
         margin-left: 6.25rem;
         padding-left: 1.5rem;
      }

      .custom-arrow li::before{
         content: "\2192";
         margin-right: 0.875rem;
         color: var(--font-color);
      }
   }

   .sluzby-druh{
      margin-top: 3.5rem;
   }

   .nadpis-h3{
      font-family: 'Judson', serif;
      font-size: 2rem;
      font-weight: 700;
      margin-top: 3.5rem;
   }

   .nadpis-h3--center{
      text-align: center;
   }

   .pruh-cenik{
      background-color: rgba(255, 255, 255, 0.5);
      background-image: url('../images/ruka-v-hline-1440x762.jpg');
      background-size: cover;
      background-position: center;
      background-blend-mode: lighten;
      display: flex;
   }

   .text-ceny{
      
      flex-direction: column;
      font-size: 1.75rem;
      font-weight: 500;
      line-height: 2.25rem;
      width: 31rem;
   }

/*jak to funguje*/

.jak-to-funguje-wrapper{
   background-image: url('../images/red-candle-4328867_1280.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-color: rgba(255, 255, 255, 0.5);
   background-blend-mode: lighten;
}

.ctverce{
   display: flex;
   flex-direction: column;
   
}

.header--small-margin{
   margin-top: 2rem;
}


/*galerie*/

.fotky-prace{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   grid-gap: 3.5rem;
   margin-top: 3.5rem;

   > img{
      box-shadow: 0.125rem 0.125rem 0.5rem 0 var(--rectangle-brown);
   }
}

/*kontakt*/

.kontakt-main{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
}

.kontakt{
   display: flex;
   align-items: center;
   gap: 1rem;
   margin-left: 2.5rem;
   margin-bottom: 2rem;
}

.ikona-text{
   font-size: 1.5rem;
   font-weight: 300;
   line-height: 1.75rem;
}


/*login, register, nova objednávka, password recovery*/

.form-background{
   background-image: linear-gradient(180deg, var(--gradient-light) 0%, var(--gradient-dark) 100%);
   min-height: 100vh;
   min-width: 100vw;
   background-attachment: fixed;
   background-size: cover;
}

   .zpet{
      color: var(--font-color-light);
      text-decoration: none;
      font-size: 1rem;
      font-weight: 400;
      display: inline-block;
      padding: 4rem 6rem;
   }


   .zpet:hover{
      text-decoration: underline;

   }

   .form-header{
      color:var(--font-green);
      font-size: 3.125rem;
      font-weight: 700;
      text-shadow: 0 0.25rem 0.25rem var(--drop-shadow);
      text-align: center;
      margin-top: 6.75rem;
   }

   .message{
      font-size: 1.5rem;
      text-align: center;
      font-weight: 300;
   }

      .message--error{
         color:var(--font-error);
      }

      .message--success{
         color: var(--font-green)
      }

   .form{
      display: flex;
      flex-direction: column;
      width: 23.625rem;
      margin: 1rem auto 0 auto;
   }

   .form-order{
      display:flex;
      flex-direction: column;
      margin: 1rem auto 0 auto;
   }

   .form-inputs{
      display: flex;
      gap:3.5rem;
      justify-content: center;
   }

   .inputs-vlevo, .inputs-vpravo{
      display: flex;
      flex-direction: column;
   }

.label-dark{
   margin-top: 2rem;
   color: var(--font-color);
   font-size: 1.25rem;
   font-weight: 300;
   
}

.input-label, .checkbox-label, .label-dark{
   margin-top: 2rem;
   font-size: 1.5rem;
   font-weight: 300;
   
   &:first-child{
      margin-top: 0;
   }
}

.input-label{
   color: var(--font-color-light);
}

   .input{
      margin-top: 0.5rem;
      border-radius: 0.625rem;
      background: #ffffff;
      font-size: 1.125rem;
      color: var(--font-color);
      padding: 0.825rem 0.5rem 0.5rem 0.5rem;
      border: 0;

      &:disabled {
         opacity: 0.75;
      }

/*      &:invalid {
         border: 1px solid var(--font-error);
      }*/
   }

   .input--white{
      border: 0.125rem solid var(--primary-color);
   }

   .checkbox-label{
      display: flex;
      gap: 0.5rem;
      color: var(--font-color-light);
      margin: 2rem auto 1rem auto;
      font-size: 1rem;
      cursor: pointer;
   }

   .checkbox{
      width: 0.875rem;
      height: 0.875rem;
      border: 0;
      background: var(--background-color);
      cursor: pointer;

   }

   .link{
      color:var(--font-green);
      text-decoration: none;

      &:hover{
         text-decoration:underline;
      }
   }

   .button{  
      border-radius: 1.875rem;
      background: var(--button-green);
      font-size: 1.25rem;
      color: var(--font-color);
      padding: 0.875rem 2.75rem;
      font-weight: 600;
      border: 0;
      cursor:pointer;
   }

   .button--center{
      align-self: center;
   }

   .button--center-with-margin{
      margin-top: 3.5rem;
   }

   .button--right{
      align-self: flex-end;
      margin-top: 2rem;
      margin-bottom: 3.5rem;
      color: var(--font-color-light);
      background: var(--primary-color);
   }

   .under-form-links{
      margin: 2.5rem auto 3.5rem auto;
      text-align: center;
   }

      .panel-link{
         display: inline-block;
         margin-top: 1rem;
         color: var(--font-color-light);
         font-size: 1rem;
         font-weight: 400;
      }


   .form-submit{
      margin-top: 3.5rem;
      margin-bottom: 3.5rem;
      text-align: center;
   }


/*můj účet*/

   .header-under{
      background-color: var(--background-brown-dark);
      height: 12.875rem;
      color: #ffffff;
      padding-top: 2rem;

      .user-name, .user-email{
         font-size: 2rem;
         line-height: 2.5rem;
      }

      .user-profile{
         font-size: 1.375rem;
         display: inline-block;
         margin-top: 2rem;

         &:hover{
            text-decoration: underline;
            cursor: pointer;
         }
      }
   }

   .small-header{
      font-family: 'Judson', serif;
      font-size: 2rem;
      display: inline-block;
      margin-top: 3.5rem;
   }

   .historie-subheader{
      font-family: 'Judson', serif;
      font-size: 1.5rem;
      display: block;
      border-bottom: 1px solid #000000;
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      cursor: pointer;
   }

   .historie-subheader--galerie{
      border: none;
      cursor: default;
      margin-bottom: 0;
      margin-top: 1rem;
   }

   .historie-objednavek{
      margin-bottom: 3.5rem;
   }

   .rozbalovaci-info-prvni, .rozbalovaci-info-treti, .rozbalovaci-info-paty{
      background-color: var(--background-brown-light);
      
   }

   .rozbalovaci-info-druhy, .rozbalovaci-info-ctvrty{
      background-color: var(--background-green-light);
   }

   .popisek{
      padding:1rem;

   }
   /*když se klikne na objednávku, tak se dolů rozbalí další informace o objednávce - udělám pomocí JS*/
   .rozbalovaci-info{
      /*display:none;*/
   }

   /*moje galerie*/

   .objednavky-radek{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #000000;
   }

   .button-small{
      text-decoration: none;
      font-size: 1.125rem;
      margin-top:1rem;
      margin-bottom: 0.5rem;

      &:hover{
         text-decoration: underline;
      }
   }

   .objednavky{
      margin-bottom: 10rem;
   }


/*vyskakovací dialogové okno*/

.dialog{
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 1.875rem;
   width: 36.25rem;
   max-width: 100%;
   background-image: linear-gradient(180deg, var(--gradient-light) 0%, var(--gradient-dark) 100%);
   border: none;
   padding: 1.75rem 3.5rem;
}

.open-dialog{
   cursor: pointer;

   &:hover{
      text-decoration: underline;
   }
}

.close-dialog-wrapper{
   text-align: right;
}

.close-dialog{
   cursor: pointer;
}

.toast {
   width: 15rem;
   padding: 1rem;
   border-radius: 0.75rem;
   box-shadow: 0.25rem 0.25rem 1rem var(--drop-shadow);
   position: fixed;
   right: 2rem;
   background: var(--background-color);
}



      

